

<div class="container">

  <%= simple_form_for [@list,@bookmark] do |f| %>
    <%= f.input :comment, :as => :text%>
    <%= f.association :movie %>
    <%= f.submit 'BookMark' %>
  <% end %>


</div>
